# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
backend/.env
backend/farmacia.db
*.log

# Node
node_modules/
dist/
dist-ssr
*.local
frontend/.env

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
